<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="CharityUA"
        android:roundIcon="@drawable/ic_icon_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.CharityUA_Android"
        tools:targetApi="31">

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".FundraiserDetailActivity"/>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".HistoryDonationsActivity" />
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".ProfileEditActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MyChatsActivity" />
    </application>

</manifest>